* {
    box-sizing: border-box;
    font-family: 'Monserrat';
    font-size: 1rem;
  }
  
  body {
    background-image: linear-gradient(
     to right, 
     rgb(221, 208, 22),
     rgb(230, 96, 19));
  }
  
  input {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 30px;
   
  
   border: none;
   border-bottom: 1px solid rgb(233, 21, 21);

  }

  input:focus {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
     to top right, 
     rgb(233, 21, 21), 
     rgb(10, 10, 187));
  }
  
  .search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-container input,
  .search-container .suggestions {
    background-color: rgba(116, 113, 113, 0.15);
    text-align: left;
    width: 15rem;
  }
  
  ul {
    position: absolute;
    padding: 0px 0px;
    width: 15rem;
  }


  ul li {
    padding: 4px 5px 10px;
    background-color: rgba(116, 113, 113, 0.15);
  }

  ul li:hover {
    background-color: rgb(230, 96, 19);
  }
  
  